<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Chat With Your Bot</h1>
    <div id="chat-container">
        <div id="chat-window"></div>
        <input type="text" id="user-input" placeholder="Type your message...">
        <button onclick="sendMessage()">Send</button>
    </div>
    <div class="button-container">
         <button onclick="window.location.href='/'">Re-Customize</button>
    </div>
    <script src="{{ url_for('static', filename='js/message_script.js') }}"></script>
</body>
</html>
